* {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 100%;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.header-wrap {
  width: 100%;
  background-color: #8d6e63;
}
.banner-wrap {
  width: 100%;
  background-color: #a1887f;
}
.content-wrap {
  width: 100%;
  background-color: #bcaaa4;
}
.footer-wrap {
  width: 100%;
  background-color: #d7ccc8;
}

.header-container {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  background-color: #3e2723;
  line-height: 100px;
}
.banner-container {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  background-color: #4e342e;
  line-height: 200px;
}
.content-container {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  background-color: #5d4037;
  line-height: 300px;
}
.footer-container {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  background-color: #6d4c41;
  line-height: 100px;
}
