<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/layout1.css" />
    <title>layout1</title>
  </head>
  <body style="background-color: #ffe0b2">
    <div id="wrap">
      <div class="header">header</div>
      <div class="nav">nav</div>
      <div class="aside">aside</div>
      <div class="content1">content1</div>
      <div class="content2">content2</div>
      <div class="footer">footer</div>
    </div>
  </body>
</html>
